@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

#div-buttons {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 500px;
}

button {
    padding: 10px;
    font-size: inherit;
    font-family: inherit;
    border: solid 1px white;
    border-radius: 10px;
    margin: 5px;
    background-color: inherit;
    color: white;
    transition: background-color 0.3s ease-out;
}

button:hover{
    background-color: white;
    color: #011f6ac9;
    border-color: white;
}

button:focus{
    background-color: white;
    color: #011f6ac9;
    border-color: white;
    outline: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    display: inline;
}

#winnerMenu {
    height: 300px;
}

#winnerMenu > p {
    margin: auto;
    font-size: 25px;
    text-align: center;
}

.menu  a {
    color: white; 
    display: inline; 
}

#close {
    cursor: pointer;
}

kbd {
    text-align: center;
    color: #555;
    border-color: #f2f2f2;
    border-style: solid;
    text-shadow: 0 0.5px 1px #777, 0 2px 6px #f2f2f2;
    border-width: 1px;
    border-radius: 5px;
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #D2D2D2 80%, #c0c0c0 100%);
    box-shadow: 0 0 1px #888,0 1px 0 #fff, 0 6px 0 #C0C0C0, 0 8px 17px rgba(#444, 0.4), 2px 1px 4px rgba(#444, 0.25), -2px 1px 4px rgba(#444, 0.25), 0 9px 16px rgba(#444, 0.1);
    padding: 2px;  
}

.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 500px;
    height: 585px;
    margin: auto;
    background-color: #011f6a;
    border: solid transparent 1px;
    border-radius: 40px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;

    transition:  opacity 0.4s linear;
}

.menu h2 {
    margin-top: 30px;
}

.menu  li {
    margin-top: 10px;
}

.menu * {
    margin-bottom: 0;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

/* Hide all steps by default: */
.tab {
    display: none;
}
  
.bottom {
    margin-top: auto;
}

#steps {
    text-align: center;
    display: block;
    margin-top: 20px;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 2px;
    margin-top: 20px;
    background-color: #fffefe;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.4;
}
  
/* Mark the active step: */
.step.active {
    opacity: 1;
}